/* Gray Scale */
$gray900: #111827;
$gray800: #1F2937;
$gray700: #374151;
$gray600: #4B5563;
$gray500: #6B7280;
$gray400: #9CA3AF;
$gray200: #C9CDD2;
$gray100: #E5E7EB;
$gray50: #F3F4F6;
$gray25: #F9FAFB;

/* Primary Colors */
$blue: #3692FF;
$blue-dark: #1967D6;
$blue-darker: #1251AA;
$red: #F74747;

